<section class="products">
  <div class="product__content container container--pall">
    <h2>Tienda</h2>

    <div class="product__grid">
      <a href="#" class="product__item">
        <div class="product__image"></div>
        <div class="product__text">
          <div class="product__price">By Claire Robinson</div>
          <div class="product__title">
            Receive money in any currency with no fees
          </div>
          <!-- <div class="product__description">
            The world is getting smaller and we’re becoming more mobile. So
            why should you be forced to only receive money in a single …
          </div> -->
        </div>
      </a>
      <a href="#" class="product__item">
        <div class="product__image"></div>
        <div class="product__text">
          <div class="product__price">By Claire Robinson</div>
          <div class="product__title">
            Receive money in any currency with no fees
          </div>
          <!-- <div class="product__description">
            The world is getting smaller and we’re becoming more mobile. So
            why should you be forced to only receive money in a single …
          </div> -->
        </div>
      </a>
      <a href="#" class="product__item">
        <div class="product__image"></div>
        <div class="product__text">
          <div class="product__price">By Claire Robinson</div>
          <div class="product__title">
            Receive money in any currency with no fees
          </div>
          <!-- <div class="product__description">
            The world is getting smaller and we’re becoming more mobile. So
            why should you be forced to only receive money in a single …
          </div> -->
        </div>
      </a>
      <a href="#" class="product__item">
        <div class="product__image"></div>
        <div class="product__text">
          <div class="product__price">By Claire Robinson</div>
          <div class="product__title">
            Receive money in any currency with no fees
          </div>
          <!-- <div class="product__description">
            The world is getting smaller and we’re becoming more mobile. So
            why should you be forced to only receive money in a single …
          </div> -->
        </div>
      </a>
    </div>
  </div>
</section>
