.products {
  background-color: #fafafa;
}

.product__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 40em) {
  .product__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .product__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*Card*/
.product__item {
  border-radius: 0.3125rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  transition: all 150ms ease-in-out;
  text-decoration: none;
  flex-direction:column;

}

.product__item:hover {
  transform: scale(1.05);
}

.product__image img {
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.product__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  color: #9698a6;
}

@media (min-width: 40em) {
  .product__text {
    padding: 1.875rem 1.5625rem;
  }
}

.product__price {
  font-family: cibSans-Bold, sans-serif !important;
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}

.product__title {
  font-family: cibSans-Bold, sans-serif !important;
  font-size: 1.0625rem;
  line-height: 1.2;
  color: #2d314d;
  margin-bottom: 0.5rem;
}

.product__button{
  justify-content: center;
  display: flex;
  align-content: center;
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  align-content: flex-end;
}

.button-color{
  background-color: #fcb600;
  width: 100%;
}
