<section class="products">
  <div class="product__content container container--pall">
    <h2>Shop</h2>
    <div class="search flex">
      <div class="search__container">
        <div class="search__relative">
          <input class="searchInput" type="search" id="default-search" (input)="search($event)" placeholder="Search..."
            required>
          <button class="search__button" type="submit" (click)="getProductByTitle()">Search</button>
        </div>
      </div>
    </div>
    <div class="product__grid">
      <!-- //TODO: Error al paginar en pagina diferente ala primera-->
      <a class="product__item flex"
        *ngFor="let product of products | paginate: { itemsPerPage: 8, currentPage: p }; let i = index">
        <div class="product__image">
          <img [src]=[product.images] />
        </div>
        <div class="product__text">
          <div class="product__price">${{product.price}}</div>
          <div class="product__title">
            {{product.title}}
          </div>
        </div>
        <div class="product__button ">
          <button class="button button-color" (click)="addToCart(product)">Add to Cart</button>
        </div>
      </a>
    </div>
    <div class="paginator-container flex">
      <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
        nextLabel="Siguiente"></pagination-controls>
    </div>
  </div>
</section>
