<div class="container__card__login">
  <div class="container__card__login__image">
    <div class="imagen__login"></div>
  </div>
  <div class="container__card__login__form">
    <div class="card__login">
      <p class="titulo__login">
        Welcome
      </p>
      <div class="alignCenter">
        <p class='text__login'>
          Log In
        </p>
      </div>
      <form novalidate class="form_login" [formGroup]="myForm"  (ngSubmit)="login()">
        <div class="form__login__c">
          <label class="form__login__label" >Email</label>
        </div>
        <div class="form__login__inputs__c">
          <input class="login__input" placeholder="Email" type="email" formControlName="email"/>
        </div>
        <div class="form__login__c">
          <label class="form__login__label">Password</label>
        </div>
        <div class="form__login__inputs__c">
          <input class="login__input" placeholder="Password" type="password" formControlName="password"/>
        </div>
        <div class="form__login__recuperar">
          <p>
            <a aria-label="login" class="recuperar__text">¿Forgot your password?</a>
          </p>
        </div>
        <div class="form__login__button">
          <button class="button button__login" [disabled]="myForm.invalid">Log In</button>
        </div>
        <div class="form__login__registrar">
          <p class="registrar__text">¿You don't have an account yet?
            <a routerLink="/auth/register">Register</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
