<section class="hero">
  <div class="container">
    <div class="hero__image"></div>
    <div class="imgleft"></div>
    <div class="hero__text ">
      <h1>Next generation digital banking!!!!</h1>
      <p>
        Take your shopping online. Your bank inc account will be a one-stop shop for spending, saving, budgeting,
        investing and now buying products with incredible benefits.
      </p>
      <a routerLink="/auth/register" class="button button__register">Register</a>
    </div>
  </div>
</section>
