<header class="header">

  <nav class="container container--pall flex flex-jc-sb flex-ai-c">
    <a href="/" class="header__logo">
      <img src="../../../../../assets/images/logo.webp" alt="Easybank" />
    </a>

    <!-- <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
      <span></span>
      <span></span>
      <span></span>
    </a> -->

    <!-- <div class="header__links hide-for-mobile">
      <a href="#">Home</a><a href="#">About</a><a href="#">Contact</a
      ><a href="#">Blog</a><a href="#">Careers</a>
    </div> -->

    <a href="#" class="button button-color"
      >Iniciar Sesión</a
    >
  </nav>
<!--
  <div class="header__menu has-fade">
    <a href="">Home</a>
    <a href="">About</a>
    <a href="">Contact</a>
    <a href="">Blog</a>
    <a href="">Careers</a>
  </div> -->
</header>
