<header class="header">
  <nav class="container container--pall flex flex-jc-sb flex-ai-c">
    <a href="/" class="header__logo">
      <img src="../../../../../assets/images/logo.webp" alt="Easybank" />
    </a>
    <div class="header__main__button" *ngIf="this.authService.authStatus()=== AuthStatus.notAuthenticated">
      <a routerLink="" class="button button-color-register">Register</a>

      <a routerLink="/auth/login" class="button button-color">Log In</a>
    </div>
    <div class="header__main__icon" *ngIf="this.authService.authStatus()=== AuthStatus.authenticated">
      <a class="header__cart" routerLink="/marketplace/products">
        <img src="../../../../../assets/icons/bolsa.svg" alt="bolsa">
      </a>

      <a class="header__cart" routerLink="/marketplace/basket">
        <img src="../../../../../assets/icons/carrito.svg" alt="shop">
        <span id="cart_menu_num" data-action="cart-can" class="badge rounded-circle">{{cantBasket}}</span>
      </a>

      <input class="dropdown dropdown-display" type="checkbox" id="dropdown" name="dropdown" />
      <label class="for-dropdown" for="dropdown"><img src="../../../../../assets/icons/user.svg" alt="user"></label>
      <div class="section-dropdown flex">
        <a routerLink="/marketplace/cards">My Cards</a>
        <a>My Transactions</a>
        <a id="logout" (click)="onLogout()" routerLink="">Log Out</a>
      </div>
    </div>
  </nav>
</header>
