.header {
  position: relative;
  z-index: 1;
}

.header.open .header__toggle>span:first-child {
  transform: rotate(45deg);
}

.header.open .header__toggle>span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle>span:last-child {
  transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(#2d314d, transparent);
}

.header nav {
  position: relative;
  background-color: white;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

.header__toggle>span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2d314d;
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}

.header__toggle>span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  background: white;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #2d314d;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: #9698a6;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #2d314d;
}

.header__links a:hover::before {
  opacity: 1;
}

.button-color {
  background-color: #fcb600;
}

.button-color-register {
  background-color: #00afaa;
  margin-right: 1rem;
}

.header__main__icon img {
  height: 2.25rem;
}

.header__main__icon img:first-child {
  margin-right: 1rem;
}

#cart_menu_num {
  font-family: cibSans-Bold, sans-serif !important;
  position: absolute;
  top: -22px;
  left: 49%;
  background: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2px;
}

.header__cart {
  position: relative;
}

/*DropDown*/
.dropdown:checked+label,
.dropdown:not(:checked)+label {
  /* position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  transition: all 200ms linear;
  border-radius: 4px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7; */
  display: inline-flex;
  width: 2.125rem;
  cursor: pointer;
  /* color: #102770;
  box-shadow: 0 12px 35px 0 rgba(255,235,167,.15); */
}

.dropdown:checked+label:before,
.dropdown:not(:checked)+label:before {
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
}

.dropdown:checked+label:before {
  pointer-events: auto;
}

.section-dropdown {
  position: absolute;
  border-radius: 1rem;
  background-color: white;
  top: 70px;
  right: 1.25rem;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
  flex-direction: column;
}

.section-dropdown a {
  padding: 1rem;
  text-decoration: none;
  font-family: cibSans-Bold, sans-serif !important;
  color: #2a2a2a;
}

#logout {
  background-color: rgba(255, 0, 0, 0.767);
  color: white;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.dropdown:checked~.section-dropdown {
  opacity: 1;
  border-radius: 1rem;
  pointer-events: auto;
  transform: translateY(0);
}

.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1;
}

.section-dropdown:after {
  position: absolute;
  top: -7px;
  right: 1.25rem;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}

/* a {
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
} */

/* a:hover {
  color: #102770;
  background-color: #ffeba7;
} */

.logo {
  position: fixed;
  top: 50px;
  left: 40px;
  display: block;
  z-index: 11000000;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  transition: all 250ms linear;
}

.logo:hover {
  background-color: transparent;
}

.logo img {
  height: 26px;
  width: auto;
  display: block;
  transition: all 200ms linear;
}


@media screen and (max-width: 991px) {
  .logo {
    top: 30px;
    left: 20px;
  }
}

.dropdown-display {
  display: none;
}
