<section class="cards">
  <div class="container container--pall">
    <h2>Cards</h2>
    <div class="card__grid">
      <a class="card__item flex" *ngFor="let card of cards" [ngStyle]="card.typeTarget=='CREDIT'?{'border-color': '#fab300'}:{'border-color': '#00afaa'}">
        <div class="cards__icon__type flex">
          <img src="../../../../assets/images/logo.webp" alt="Easybank" />
          <h3>{{card.typeTarget}}</h3>
        </div>
        <div class="cards__microchip__saldo flex">
          <div class="card__text">
            <img src="../../../../assets/icons/chipCard.svg" alt="addCards" />
            <!--TODO: Separar numeros de a 4 -->
            <h3 class="card__sell">{{card.idProducto }}</h3>
          </div>
          <div class="card__text">
            <div class="card__title">Saldo</div>
            <div class="card__value">
              <h3 class="card__sell">{{card.saldo}}</h3>
            </div>
            <span *ngIf="card.typeTarget=='CREDIT'">
              <div class="card__title" >Cupo</div>
              <h3 class="card__sell">{{card.cupo}}</h3>
            </span>
          </div>
        </div>
        <div class="cards__date">
          <div class="card__text ">
            <div class="card__title">Fecha Vencimiento</div>
            <h3 class="card__sell">{{card.fechaVencimiento| date:'MM/yyyy'}}</h3>
          </div>
        </div>
        <div class="cards__name">
          <h3 class="card__sell" id="name__card">{{card.titular.firstname}} {{card.titular.lastname}}</h3>
        </div>
      </a>
      <a class="card__new__item" (click)="addCart()" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img src="../../../../assets/icons/addCards.svg" alt="addCards" />
      </a>
    </div>
  </div>
</section>
<marketplace-modal></marketplace-modal>
