<div class="container__card__login">
  <div class="container__card__login__image">
    <div class="imagen__register"></div>
  </div>
  <div class="container__card__login__form">
    <div class="card__login">
      <p class="titulo__login">
        Welcome
      </p>
      <div class="alignCenter">
        <p class='text__login'>
          Register
        </p>
      </div>
      <form novalidate [formGroup]="myForm" (ngSubmit)="register()" class="form_login">

        <div class="form__login__c">
          <label class="form__login__label">Firstname</label>
        </div>
        <div class="form__login__inputs__c">
          <input class="login__input" placeholder="firstname" type="text" formControlName="firstname"/>
        </div>

        <div class="form__login__c">
          <label class="form__login__label">Lastname</label>
        </div>
        <div class="form__login__inputs__c">
          <input class="login__input" placeholder="lastname" type="text" formControlName="lastname"/>
        </div>

        <div class="form__login__c">
          <label class="form__login__label" >Email</label>
        </div>
        <div class="form__login__inputs__c">
          <input class="login__input" placeholder="ejemplo@ejemplo.com" type="email" formControlName="username"/>
        </div>

        <div class="form__login__c">
          <label class="form__login__label">Password</label>
        </div>
        <div class="form__login__inputs__c">
          <input class="login__input" placeholder="Password" type="password" formControlName="password"/>
        </div>

        <div class="form__login__button">
          <button class="button button__register" [disabled]="myForm.invalid">Register</button>
        </div>
        <div class="form__login__registrar">
          <p class="registrar__text">¿Already have an account?
            <a routerLink="/auth/login">Enter here</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
